<h1>Type Conversion</h1>

Type conversion (chuyển đổi kiểu) trong Python là quá trình chuyển đổi giá trị từ một kiểu dữ liệu này sang kiểu dữ liệu khác. Điều này thường cần thiết khi bạn muốn thực hiện các phép toán hoặc thao tác với dữ liệu có kiểu khác nhau

In [1]:
x = "10"
y = int(x)
print(y)

10

In [3]:
z = float(y)
z

10.0

In [4]:
t = 100
s = str(t)
s

'100'

In [5]:
x = (1, 2, 3)
y = list(x)
y

[1, 2, 3]

In [7]:
z = tuple(y)
z

(1, 2, 3)

In [9]:
st = set(x)
st

{1, 2, 3}